{% extends 'main/base.html' %}
{% block title %}
  Customer Registration
{% endblock %}

{% block content %}
    <form method="POST">
      {% csrf_token %}

      <div class="form-group">
        <label for="{{ form.username.id_for_label }}">Username</label>
        {{ form.username }}
        {% if form.username.errors %}
            <div class="alert alert-danger">
                {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">Password</label>
        {{ form.password1 }}
        <div class="help-text">{{ form.password1.help_text }}</div>
      </div>

      <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
        {{ form.password2 }}
        {% if form.password2.errors %}
        <div class="alert alert-danger">
            {% for error in form.password2.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %} 
        <div class="help-text">{{ form.password2.help_text }}</div>
      </div>

      <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email }}
        {% if form.email.errors %}
            <div class="alert alert-danger">
                {% for error in form.email.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="{{ form.date_of_birth.id_for_label }}">Date of Birth</label>
        {{ form.date_of_birth }}
      </div>

      <button type="submit" name="register">Register</button>
    </form>
{% endblock %}
