{% extends 'main/base.html' %}

{% block title %}
    Services List
{% endblock %}

{% block content %}

    <p class="title">Services</p>
    {% if user.is_company %}
        <a class="create_service" href="{% url 'create_service' %}">Create Service</a>
    {% endif %}

    <div class='services_list_wrapper'>
        {% if services %}
        <ul class="services_list">
            {% for service in services %}
                <li class="service-item">
                    <div>
                        <a href="{% url 'single_service' service.id %}"><strong>{{ service.name }}</strong></a>
                        ({{ service.field }}) --
                        <strong>{{ service.price_hour }}€/hour</strong>
                    </div>
                    <div class="company">
                        Provided by: 
                        <a href="{% url 'company_profile' service.company.user.username %}">
                        {{ service.company.user.username }} 
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <h2>Sorry, no services available yet.</h2>
        {% endif %}
    </div>

{% endblock %}
