{% extends 'main/base.html' %}
{% block title %}
    Request Service
{% endblock %}

{% block content %}
    <p class="title">Service Request Details</p>
    
    <form method="POST">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="address">Address</label>
            {{ form.address }}
        </div>
        
        <div class="form-group">
            <label for="service_hours">Service Hours</label>
            {{ form.service_hours }}
        </div>


        <button type="submit">Request</button>
    </form>

{% endblock %}
